h1 {
  background-color: salmon;
  color: black;
  font-size:3em;
  border-radius: 10px 10px 10px 10px;
  }


h2 {
  font-size: 2em;
  color: salmon;
  border-radius: 10px 10px 10px 10px;
}

.letters {
  border: solid;
  text-align: center;
}
.onoff {
  background-color:Red;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

button {
  border: solid grey;
  border-radius: 25px 25px 25px 25px;
  padding: 4px;
  margin: 40px;
  Height: 50px;
  width: 70px;
  background: linear-gradient(90deg, lightcoral, salmon,pink, lightcoral) 
}

.slider {
  padding: 10px;
  margin: 50px;
  color: black;
  background: linear-gradient(90deg, mistyRose, pink, coral, salmon, pink);
  border: solid grey;
  border-radius: 25px 25px 25px 25px;
}

input {
  width: 90%;
}


body {
  background-color:#ba617680;
  border: solid;
  margin: 10px;
  padding:20px;
  border-radius: 10px 10px 10px 10px;
}

.userinterface {
  background: linear-gradient(90deg, mistyrose, lightcoral,mistyrose);
  padding: 2px 2px 2px 2px;
  border-radius: 10px 10px 10px 10px;
  border: solid 4px LightGray;
}